<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Level <%= level.number %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/level.css" />
  </head>
  <body>
    <div>
  <h1>Level <%= level.number %></h1>
  <h2>Difficulty <%=level.difficulty %></h2>
</div>
<div class="grid" style="--r: <%= level.grid %>"></div>
<div id="timer">
  <div id="timerText"></div>
</div>
<div id="home">
  <a href="/levels"><img src="/imgs/home.png" alt="Home" /></a>
</div>
<div id="winModal" class="modal">
  <div class="modal-body">
    <h3>You Won</h3>
    <p>Good job</p>
    <form action="/levels/<%= level._id %>" method="POST">
      <button id="winModalButton">Next Level</button>
    </form>
  </div>
  </div>
  <div id="lostModal" class="modal">
    <div class="modal-body">
      <h3>You Lost</h3>
      <p>Better Luck Next Time</p>
      <button id="lostModalButton">Retry</button>
    </div>
  </div>
  <div class="loader">
    <div class="loader-content">
    <div class="loader-chili">
      <img src="/imgs/chili.png" alt="">
    </div>
    <p class="loader-text">Hold your chillies!<br/> Hot page coming through!</p>
  </div>
  </div>
  <audio src="/audios/bg.mp3" id="bgAudio"></audio>
  <audio src="/audios/correct.mp3" id="correctAudio"></audio>
  <audio src="/audios/wrong.mp3" id="wrongAudio"></audio>

  
</div>
<script>
  const gridNumber = "<%- level.grid %>";
  const correct = "<%- level.correct %>";
  const time = "<%- level.time %>";
</script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/level.js"></script>
</body>
</html>
