<%layout('layouts/boilerplate')%>
<div>
  <h1>Level <%= level.number %></h1>
  <h2>Difficulty <%=level.difficulty %></h2>
</div>
<div class="grid" style="--r: <%= level.grid %>"></div>
<div id="timer">
  <div id="timerText"></div>
</div>
<div id="home">
  <a href="/levels"><img src="/imgs/home.png" alt="Home" /></a>
</div>
<div id="winModal" class="modal">
  <div class="modal-body">
    <h3>You Won</h3>
    <p>Good job</p>
    <form action="/levels/<%= level._id %>" method="POST">
      <button id="winModalButton">Next Level</button>
    </form>
  </div>
  <div id="lostModal" class="modal">
    <div class="modal-body">
      <h3>You Lost</h3>
      <p>Better Luck Next Time</p>
      <button id="lostModalButton">Retry</button>
    </div>
  </div>

  <script>
    const gridNumber = "<%- level.grid %>";
    const correct = "<%- level.correct %>";
    const time = "<%- level.time %>";
  </script>
</div>
